html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

/* body{
  background-image: url('/public/images/rippleLake.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  
  
} */

input {
  margin: 5px;
  margin-bottom: 10px;
}

.header{
  text-shadow: 2px 2px 3px rgb(17, 3, 138);
/* margin: 85%;
width: 85%;
background-color: rgb(228, 239, 248);
box-shadow: 5px 5px 8px rgb(17, 3, 138);
border: 1px solid rgb(3, 3, 3);
border-radius: 15px;
padding: 20px; */
}


#blueGood, .textBlue{
  color: blue;
}

#greenFair, .textGreen{
  color:rgb(8, 133, 29);
}

#redBad, .textRed{
  color: orange;
}

.key{
margin: .5em;
margin-left: .5em;
}

.clickForDataText{
  font-size: small;
}

.listBox{
background-color: rgb(225, 234, 242);
width: 90%;
border: 1px rgb(3, 3, 3);
border-radius: 15px;
box-shadow: 5px 5px 8px rgb(17, 3, 138);
/* box-shadow: 3px 3px rgb(71, 8, 158), -1em 0 .4em rgb(13, 13, 139); */
padding: 10px;
}

#listBox:hover {
  background-color: rgb(182, 217, 244);
}

ul{
  list-style-type: none;
}

.regBtn{
  margin-top: 70%;
}

.noteBox{
font-family:monospace;
width: 90%;
border-radius: 15px;
box-shadow: 5px 5px 8px rgb(17, 3, 138);
padding: 10px;
}

