.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  margin-top: 124px;
  margin-bottom: 0px;
  background-color: rgb(16, 80, 136);
  overflow: hidden;
  
}

.nav a {
  text-decoration: none;
  border-radius: 25%;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
}

.navLink, footer {
  display: inline-block;
  color: grey;
  background-color: #ffffff;
  /* color: #f2f2f2;
  background-color:rgb(16, 80, 136);
  text-align: center; */
  padding: 15px 10px;
  text-decoration: none;
  font-size: 15px;


  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #e8edf1;
}
